<main id="top">
  <section class="hero-section hero-50 d-flex justify-content-center align-items-center">
    <div class="section-overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 mb-5 mb-lg-0">
          <div class="hero-content">
            <h4 class="text-white mb-4">
              <i class="bi-heart me-2"></i>
              Web Design
            </h4>
            <h1 class="hero-title text-white mb-4">Introduction to Web Design 101</h1>
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/">Homepage</a></li>
              <li class="breadcrumb-item active">Web Design</li>
            </ul>
            <div class="mt-4">
              <a href="#" class="btn custom-btn">
                <i class="bi-bookmark me-2"></i>
                Read More
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="ratio ratio-4x3">
            <iframe src="https://www.youtube.com/embed/jzP6hBIn7fQ?si=KNyOUC0yUo3AUFf9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="topics-detail-section section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-12">
          <h2 class="mb-4">Introduction to Web Design</h2>
          <p>So how can you stand out, do something unique and interesting, build an online business, and get paid enough to change life. Please visit <a href="https://templatemo.com">TemplateMo</a> website to download free website templates.</p>
          <p>There are so many ways to make money online. Below are several platforms you can use to find success. Keep in mind that there is no one path everyone can take. If that were the case, everyone would have a million dollars.</p>
          <div class="blockquote">
            <p>Freelancing your skills isn’t going to make you a millionaire overnight.</p>
          </div>
          <div class="row my-5">
            <div class="col-lg-6 col-12 mb-4 mb-lg-0">
              <img src="/assets/FrontOffice/images/topics/undraw_Remote_design_team_re_urdx.png" class="img-fluid topics-detail-block-image" alt="Remote Design Team">            </div>
            <div class="col-lg-6 col-12">
              <img src="/assets/FrontOffice/images/topics/undraw_Redesign_feedback_re_jvm0.png" class="img-fluid topics-detail-block-image" alt="Redesign Feedback">            </div>
          </div>
          <p>Most people start with freelancing skills they already have as a side hustle to build up income. This extra cash can be used for a vacation, to boost up savings, investing, build business.</p>
        </div>
        <div class="col-lg-4 col-12 mt-5 mt-lg-0">
          <div class="custom-block bg-white shadow-lg">
            <h5 class="mb-3">Get Newsletter</h5>
            <form class="custom-form newsletter-form" role="form">
              <input type="email" name="newsletter-email" id="newsletter-email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Email Address" required="">
              <button type="submit" class="btn custom-btn">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
